# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SwiezeBackend.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\micha\Documents\Code\Cs\SwiezeBackend\.idea\.idea.SwiezeBackend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
