name: .NET

on:
#  push:
#    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the stack
      run: docker-compose up -d
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
      env:
        ConnectionStrings:PostgreSQL: ${{secrets.POSTGRES}}
        TokenKey: ${{secrets.TOKEN_KEY}}
    - name: Test
      run: dotnet test --no-build --verbosity normal
      env:
        ConnectionStrings:PostgreSQL: ${{secrets.TEST_POSTGRES}}
        TokenKey: ${{secrets.TOKEN_KEY}}
        Cloudinary: ${{secrets.CLOUDINARY}}
